/* Réinitialisation des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de base pour le body et les polices */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Style du header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Style du footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 5px;
}

#presentation {
    margin: 20px;
}
